<ion-view view-title="Reminder Method">
  <ion-content class="padding">
    <ul class="list">

      <li class="item item-toggle">
         SMS Reminder
         <label class="toggle toggle-calm">
           <input type="checkbox" ng-model="SMS" ng-change="smsChange()">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

      <li class="item item-toggle">
         Email Reminder
         <label class="toggle toggle-calm">
           <input type="checkbox" ng-model="Email" ng-change="emailChange()">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

    </ul>
  </ion-content>
</ion-view>