<ion-view view-title="Confirmation">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar">

        <img src="{{ doctor.Image }}">
        <h2>{{ doctor.Name }}</h2>
        <p>{{ doctor.Category }}</p>
      </div>

      <div class="item item-body">

        <p>Specialist: {{ specialist }} </p>
        <p>Clinic Name: {{ clinic.Name }} </p>
        <p>Time: {{ time }}</p>
        <p>Date: {{ date }}</p>
        <p>Location: {{ clinic.Address }}</p>
        <p>Postal Code: {{ clinic.PostalCode }}</p>
        

      </div>
    </div>

    <button class="button button-block button-calm" ng-click="showConfirm()">
      Confirm
    </button>
  </ion-content>
</ion-view>